.DS_Store
.idea/
.build
.build/
.builds/
node_modules/
*.iml
.sass-cache/
fabfile.pyc
newrelic_agent.log
client/app-build/
client/js/build.all.json
client/js/build.app.json
dump.rdb
.editorconfig
.jshintignore
.jscsrc
*.pid